<a href="https://colab.research.google.com/github/EutruTepit/BigData2022/blob/main/1_Introdu%C3%A7%C3%A3o_Python_Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Tipos de variaveis

In [ ]:
Qtd_de_alunos = 1
media = 6.7
turma = "Big Data"
turma_ativa = True

Uso de variaveis

In [ ]:
def juros_comp (vi, taxa, tempo):
  return round(vi * (1 + taxa/100)**tempo , 2)

juros_comp(8000, 0.5, 17)

8707.89

##Estutura de condições

In [ ]:
nota = 4

if nota >= 6:
  print("Aprovado")
else:
  print("Reprovado")

Reprovado

In [ ]:
if nota >= 6:
  print("Aprovado")
elif nota >= 5 and nota < 6:
  print("Recuperação")
else:
  print("Reprovado")

Reprovado

In [ ]:
def zona(grau):
  if grau >= 0 and grau <= 23.26:
    return("Zona Tropical")
  elif grau <= 66.32:
    return("Zona Temperada do sul")
  else:
    return("Zona Polar sul")

Monte_Verde = 22.86
Cacador = 26.81
ilhaAI = 71.45

print("Monte Verde - " + zona(Monte_Verde))
print("Caçador - " + zona(Cacador))
print("Ilha Alexandre I - " + zona(ilhaAI))

Monte Verde - Zona Tropical
Caçador - Zona Temperada do sul
Ilha Alexandre I - Zona Polar sul

##Estruturas de repetição

In [ ]:
from random import random

x = random()
contador = 1

while x <0.7:
  contador += 1
  x = random()

print(contador)

2

In [ ]:
for i in range(0,10):
  print(i**2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
dados_disciplina = ["Big Data e Data Analytics", 40, 20, 7.5]

print(dados_disciplina[1])

print("---")

for i in dados_disciplina:
  print(i)

40
---
Big Data e Data Analytics
40
20
7.5

In [ ]:
for i in range(0, 10):
  if i % 2 == 0:
    print(i)

0
2
4
6
8

##Funcionalidades de lista

In [ ]:
lista=[2, 4, 6, "Big Data"]

tam = len(lista)
print("Tamanho da lista:", tam)
lista.append(5)
print("Apend 5:", lista)
print("----")
lista.remove(2)
print("Remove 2:", lista)
print("----")
lista.pop(1)
print("Pop 1º", lista)
print("----")

lista=[2, 4, 6, "Big Data"]
del lista[2:4]
print("Retirando o intervalo 2:4:", lista)

Tamanho da lista: 4
Apend 5: [2, 4, 6, 'Big Data', 5]
----
Remove 2: [4, 6, 'Big Data', 5]
----
Pop 1º [4, 'Big Data', 5]
----
Retirando o intervalo 2:4: [2, 4]

###Slices

In [ ]:
lista=[2, 4, 6, "Big Data"]

print("Retornando intervalo [:3]:", lista[:3])
print("Retornando intervalo [1:]:", lista[1:])

Retornando intervalo [:3]: [2, 4, 6]
Retornando intervalo [1:]: [4, 6, 'Big Data']

###Compreenção de lista

In [ ]:
nova_lista = [str(i) for i in lista]
print("Nova lista em string:", nova_lista)

Nova lista em string: ['2', '4', '6', 'Big Data']

In [ ]:
nova_lista = [i for i in lista if isinstance(i, str)]
print("Apenas strings em lista:", nova_lista)

Apenas strings em lista: ['Big Data']

#Listas

In [ ]:
minha_lista = ['mundo', 'ola', 'c1', 'd2', 'a3']
minha_lista.sort(reverse=True)
print(minha_lista)

['ola', 'mundo', 'd2', 'c1', 'a3']

In [ ]:
nova_lista = sorted(minha_lista)
print(nova_lista)

['a3', 'c1', 'd2', 'mundo', 'ola']

In [ ]:
minha_lista.reverse()
print(minha_lista)

['a3', 'c1', 'd2', 'mundo', 'ola']

#Dicionário

In [ ]:
disciplina={'nome':'Big Data e Data Analyties', 'creditos': 4, 'semestre': "2022/1"}
print(disciplina.items())
print(disciplina.keys())
print(disciplina.values())

dict_items([('nome', 'Big Data e Data Analyties'), ('creditos', 4), ('semestre', '2022/1')])
dict_keys(['nome', 'creditos', 'semestre'])
dict_values(['Big Data e Data Analyties', 4, '2022/1'])

In [ ]:
for key, item in disciplina.items():
  print(f'{key} {item}')

nome Big Data e Data Analyties
creditos 4
semestre 2022/1

In [ ]:
disciplina_inv = {item:key for key, item in disciplina.items()}
print(disciplina_inv)

{'Big Data e Data Analyties': 'nome', 4: 'creditos', '2022/1': 'semestre'}

#Funções

In [ ]:
def imc(peso, altura):
  return peso/(altura**2)

meu_imc = imc(65, 1.79)
print(meu_imc)

20.286507911738084

In [ ]:
print(juros_comp(8000, 0.5, 17))
print(juros_comp(1204, 0.9, 3))
print(juros_comp(taxa=0.3, tempo=34, vi=20000))

8707.89
1236.8
22144.29

#Classe

In [ ]:
class Veiculo:
  #Caso uma variavel tenha valores padrão todas as variaveis a direita necessita ser referenciada o tipo
  def __init__(self, cor, velocidade=0):
    self.velocidade = velocidade
    self.cor = cor

  def acelerar(self, km_h):
    self.velocidade += km_h

carro = Veiculo(cor="preto", velocidade=20)

print(carro.velocidade)
carro.acelerar(20)
print(carro.velocidade)

20
40